<section class="flex flex-col">
  <div #chart *ngIf="chartOptions$ | async as options">
    <apx-chart
      [series]="options.series"
      [chart]="options.chart"
      [xaxis]="options.xaxis"
      [dataLabels]="options.dataLabels"
      [grid]="options.grid"
      [stroke]="options.stroke"
      [title]="options.title"
    ></apx-chart>
  </div>
  <div class="font-body text-sm" *ngIf="data.quantity">
    Currently owned -
    <span class="text-blue-500 text-base"> {{ data.quantity }}</span>
  </div>
  <div class="font-body text-sm" *ngIf="data.quantity">
    Trading at current price -
    <span class="text-blue-500 text-base"> {{ data.price }}</span>
  </div>
</section>
