<article class="w-screen h-screen flex flex-col justify-center items-center">
  <ng-container *ngIf="runningInBrowser; else spinnerContainer">
    <img src="assets/images/swimbird-logo.png" alt="logo" class="w-36" />
    <h1 class="font-title text-2xl lg:text-4xl p-4">
      {{ "Please enter your name " }}
    </h1>
    <input
      type="text"
      [(ngModel)]="textInput"
      class="p-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-52"
      placeholder="What should I be called?"
    />
    <button
      (click)="submitLogin()"
      class="m-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Button
    </button>
    <button class="p-4">Submit</button>
  </ng-container>

  <ng-template #spinnerContainer>
    <div class="h-full w-full flex flex-col justify-center items-center">
      <svg
        class="animate-spin m-4 h-20 w-20 text-black self-center"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg></div
  ></ng-template>
</article>
